:host ::ng-deep nb-stepper .step-content { 

  button {
    cursor: pointer;
    margin: 0.5rem;  
  }
}

.estilo-step{
  background-color: #894590;
}

nb-card-header{
  background-color: #894590;
  color: white;
  text-align: center;
}

nb-card-body {
  overflow: visible;
  padding-top: 30px;
  background-color: white;
  > * {
    margin-top: 1rem;
  }
}
.button {
  background-color: #894590; 
}
.centrar {
  text-align: center;
}

.full-name-inputs,
.validation-checkboxes {
  display: flex;
  margin: 0 -0.5rem;

  > * {
    margin: 0 0.5rem;
  }
}

.checkbox-radio {
  display: flex;
}

.demo-items {
  flex: 1 0 33%;
}
.centrar {
  justify-content: center;
}

@import '../../../@theme/styles/themes';

@include nb-install-component() {
  .list-card {
    nb-card-header {
      border-bottom: none;
    }

    nb-card-body {
      padding: 0;
    }
  }
}
@import '../../../@theme/styles/themes';

@include nb-install-component() {
  button[nbTreeGridRowToggle] {
    background: transparent;
    border: none;
    padding: 0;
  }

  .search-label {
    display: block;
  }
  .search-input {
    margin-bottom: 1rem;
  }

  .nb-column-name {
    width: 100%;
  }

  ::ng-deep .row-toggle-button {
    color: nb-theme(text-basic-color);
  }

  .nb-tree-grid-header-cell,
  .nb-tree-grid-header-cell button {
    text-transform: capitalize;
  }

  @media screen and (min-width: 400px) {
    .nb-column-name,
    .nb-column-size {
      width: 50%;
    }
  }

  @media screen and (min-width: 500px) {
    .nb-column-name,
    .nb-column-size,
    .nb-column-kind {
      width: 33.333%;
    }
  }

  @media screen and (min-width: 600px) {
    .nb-column-name {
      width: 31%;
    }
    .nb-column-size,
    .nb-column-kind,
    .nb-column-items {
      width: 23%;
    }
  }
}
@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .position-select {
    min-width: 13rem;
  }

  .label {
    display: block;
  }

  nb-card-footer button:first-child {
    @include nb-ltr(margin-right, 1rem);
    @include nb-rtl(margin-left, 1rem);
  }
}
@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
}
