<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
    <nb-card-body>
      <div class="form-inline">         
      <div class="col-sm-3" style="display: contents;"><label for="Sucursal">Seleccione Sucursal : </label></div>
      <div class="col-sm-4">           
          <ng-select [items]="cities"
                     bindLabel="name"
                     bindValue="id"
                     placeholder="Select Sucursal"
                     (click)="validacionSucursal()"
                     [(ngModel)]="selectedCity">
          </ng-select>    
             
            </div>
            <div class="col-sm-5" style="text-align: end;">
                <div class="buttons-row">
                    <button  nbButton shape="semi-round" (click)="AgregarPiso()">
                      Agregar Piso 
                    </button>
                </div>
            </div>      
       </div>   
                      <nb-accordion *ngIf="show4">
                    <nb-accordion-item #item  *ngFor="let piso of pisos">
                        <nb-accordion-item-header>
                            <div class="form-inline">
                              <div class="col-sm-2" >           
                                <i class="fas fa-trash" (click)="onDeleteConfirm()"></i> 
                                </div> 
                            <div class="col-sm-8"> 
                            <label for="Sucursal">{{piso.name}}</label>    
                            </div>                          
                          </div>                                                    
                        </nb-accordion-item-header>
                        <nb-accordion-item-body>
                            <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
                              </ng2-smart-table>
                        </nb-accordion-item-body>
                      </nb-accordion-item>
                      </nb-accordion>

                    <nb-accordion>
                    <nb-accordion-item #item *ngIf="show">
                      <nb-accordion-item-header>
                          <div class="form-inline">
                              <div class="col-sm-2" >           
                                  <i class="fas fa-trash" (click)="onDeleteConfirm()"></i> 
                                  </div> 
                          <div class="col-sm-8"> 
                          <label for="Sucursal">Piso 1</label>    
                          </div>                          
                        </div>      
                      </nb-accordion-item-header>
                      <nb-accordion-item-body>
                          <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
                            </ng2-smart-table>
                      </nb-accordion-item-body>
                    </nb-accordion-item>
              
                    <nb-accordion-item *ngIf="show">
                        <nb-accordion-item-header>
                            <div class="form-inline">
                                <div class="col-sm-2" >           
                                    <i class="fas fa-trash" (click)="onDeleteConfirm()"></i> 
                                    </div> 
                            <div class="col-sm-8"> 
                            <label for="Sucursal">Piso 2</label>    
                            </div>                          
                          </div>      
                        </nb-accordion-item-header>
                      <nb-accordion-item-body>
                          <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
                            </ng2-smart-table>
                      </nb-accordion-item-body>
                    </nb-accordion-item>
              
                    <nb-accordion-item *ngIf="show">
                        <nb-accordion-item-header>
                            <div class="form-inline">
                                <div class="col-sm-2" >           
                                    <i class="fas fa-trash" (click)="onDeleteConfirm()"></i> 
                                    </div> 
                            <div class="col-sm-8"> 
                            <label for="Sucursal">Piso 3</label>    
                            </div>                          
                          </div>      
                        </nb-accordion-item-header>
                      <nb-accordion-item-body>
                          <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
                            </ng2-smart-table>
                      </nb-accordion-item-body>
                    </nb-accordion-item>
               

                  <nb-accordion-item #item *ngIf="show2">
                      <nb-accordion-item-header>
                          <div class="form-inline">
                            <div class="col-sm-2" >           
                              <i class="fas fa-trash" (click)="onDeleteConfirm()"></i> 
                              </div> 
                          <div class="col-sm-8"> 
                          <label for="Sucursal">Piso 1</label>    
                          </div>                          
                        </div>      
                      </nb-accordion-item-header>
                      <nb-accordion-item-body>
                          <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
                            </ng2-smart-table>
                      </nb-accordion-item-body>
                    </nb-accordion-item>
              
                    <nb-accordion-item *ngIf="show2">
                        <nb-accordion-item-header>
                            <div class="form-inline">
                              <div class="col-sm-2" >           
                                <i class="fas fa-trash" (click)="onDeleteConfirm()"></i> 
                                </div> 
                            <div class="col-sm-8"> 
                            <label for="Sucursal">Piso 2</label>    
                            </div>                          
                          </div>      
                        </nb-accordion-item-header>
                      <nb-accordion-item-body>
                          <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
                            </ng2-smart-table>
                      </nb-accordion-item-body>
                    </nb-accordion-item>
              
                    <nb-accordion-item #item *ngIf="show3">
                        <nb-accordion-item-header>
                            <div class="form-inline">
                              <div class="col-sm-2" >           
                                <i class="fas fa-trash" (click)="onDeleteConfirm()"></i> 
                                </div>  
                            <div class="col-sm-8"> 
                            <label for="Sucursal">Piso 1</label>    
                            </div>                          
                          </div>      
                        </nb-accordion-item-header>
                        <nb-accordion-item-body>
                            <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
                              </ng2-smart-table>
                        </nb-accordion-item-body>
                      </nb-accordion-item>
                
                      <nb-accordion-item  *ngIf="show3">
                          <nb-accordion-item-header>
                              <div class="form-inline">
                                <div class="col-sm-2" >           
                                  <i class="fas fa-trash" (click)="onDeleteConfirm()"></i> 
                                  </div> 
                              <div class="col-sm-8"> 
                              <label for="Sucursal">Piso 2</label>    
                              </div>                          
                            </div>      
                          </nb-accordion-item-header>
                        <nb-accordion-item-body>
                            <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
                              </ng2-smart-table>
                        </nb-accordion-item-body>
                      </nb-accordion-item>
                
                      <nb-accordion-item  *ngIf="show3">
                          <nb-accordion-item-header>
                              <div class="form-inline">
                                <div class="col-sm-2" >           
                                  <i class="fas fa-trash" (click)="onDeleteConfirm()"></i> 
                                  </div> 
                              <div class="col-sm-8"> 
                              <label for="Sucursal">Piso 3</label>    
                              </div>                          
                            </div>      
                          </nb-accordion-item-header>
                        <nb-accordion-item-body>
                            <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
                              </ng2-smart-table>
                        </nb-accordion-item-body>
                      </nb-accordion-item>
                      <nb-accordion-item  *ngIf="show3">
                          <nb-accordion-item-header>
                              <div class="form-inline">
                                <div class="col-sm-2" >           
                                  <i class="fas fa-trash" (click)="onDeleteConfirm()"></i> 
                                  </div> 
                              <div class="col-sm-8"> 
                              <label for="Sucursal">Piso 4</label>    
                              </div>                          
                            </div>      
                          </nb-accordion-item-header>
                          <nb-accordion-item-body>
                              <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
                                </ng2-smart-table>
                          </nb-accordion-item-body>
                        </nb-accordion-item>
                    </nb-accordion>
            
                </nb-card-body>
</nb-card>
