

@keyframes App-logo-spin {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(360deg);
}
}
.centrar{
  
  justify-content: center;
  align-items: center;
  
}

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
font-family: Poppins-Regular;
src: url('./fuentes/barlow/Barlow-Regular.otf');
}

@font-face {
font-family: Poppins-Bold;
src: url('./fuentes/barlow/Barlow-Bold.otf');
}

@font-face {
font-family: Poppins-Medium;
src: url('./fuentes/barlow/Barlow-Medium.otf');
}

@font-face {
font-family: Montserrat-Bold;
src: url('./fuentes/barlow/Barlow-Extra Bold.ttf');
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

body, html {
height: 100%;
font-family: 'Poppins', sans-serif;
}
/*---------------------------------------------*/
a {
  font-family: 'Poppins', sans-serif;
font-size: 14px;
line-height: 1.7;
color: #666666;
margin: 0px;
transition: all 0.4s;
-webkit-transition: all 0.4s;
-o-transition: all 0.4s;
-moz-transition: all 0.4s;
}

a:focus {
outline: none !important;
}

a:hover {
text-decoration: none;
color: #57b846;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
margin: 0px;
}

p {
font-family: 'Poppins', sans-serif;
font-size: 14px;
line-height: 1.7;
color: #666666;
margin: 0px;
}

ul, li {
margin: 0px;
list-style-type: none;
}


/*---------------------------------------------*/
input {
outline: none;
border: none;
}

textarea {
outline: none;
border: none;
}

textarea:focus, input:focus {
border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #6a3caa; }
input:-moz-placeholder { color: #6a3caa; }
input::-moz-placeholder { color: #6a3caa; }
input:-ms-input-placeholder { color: #6a3caa; }

textarea::-webkit-input-placeholder { color: #6a3caa; }
textarea:-moz-placeholder { color: #6a3caa; }
textarea::-moz-placeholder { color: #6a3caa; }
textarea:-ms-input-placeholder { color: #6a3caa; }

/*---------------------------------------------*/
button {
outline: none !important;
border: none;
background: transparent;
}

button:hover {
cursor: pointer;
}

iframe {
border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: 'Poppins', sans-serif;
font-size: 13px;
line-height: 1.5;
color: #999999;
}

.txt2 {
  font-family: 'Poppins', sans-serif;
font-size: 13px;
line-height: 1.5;
color: #666666;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
width: 100%;
margin: 0 auto;
}

.particles {
position: fixed;
right: 0;
right: 0;
bottom: 0;
left: 0;
z-index: -1;
}


.abs-center {
display: flex;
align-items: center;
justify-content: center;
min-height: 100vh;
}

.wrap-login100 {
display: inline-block;
background: #fff;
border-radius: 30px;
-webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .5);
padding: 40px 40px 40px 40px;
margin-top: 8%;
margin-bottom: 8%;
}


/*------------------------------------------------------------------
[  ]*/
.loginpic {
padding-bottom: 20px;
}

.login100-pic img {
max-width: 50%;
}


/*------------------------------------------------------------------
[  ]*/
.login100-form {
width: 320px;
position: relative;

}

/*---------------------------------------------*/
.wrap-input100 {
position: relative;
width: 100%;
z-index: 1;
margin-bottom: 20px;
}

.input100 {
  font-family: 'Poppins', sans-serif;
font-size: 15px;
line-height: 1.5;
display: block;
width: 100%;
background: #f0f0f0;
height: 50px;
border-color: black;
border-radius: 10px;
border: ridge;
padding: 0 20px 0 58px;
}


/*------------------------------------------------------------------
[ Focus ]*/
.focus-input100 {
display: block;
position: absolute;
border-radius: 25px;
bottom: 0;
left: 0;
z-index: -1;
width: 100%;
height: 100%;
box-shadow: 0px 0px 0px 0px;
color: #663366;
}

.input100:focus + .focus-input100 {
-webkit-animation: anim-shadow 0.5s ease-in-out forwards;
animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
to {
  box-shadow: 0px 0px 50px 25px;
  opacity: 0;
}
}

@keyframes anim-shadow {
to {
  box-shadow: 0px 0px 50px 25px;
  opacity: 0;
}
}

.symbol-input100 {
font-size: 15px;

display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
align-items: center;
position: absolute;
border-radius: 25px;
bottom: 0;
left: 0;
width: 100%;
height: 100%;
padding-left: 35px;
pointer-events: none;
color: #666666;

-webkit-transition: all 0.4s;
-o-transition: all 0.4s;
-moz-transition: all 0.4s;
transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
color: #663366;}


/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
width: 100%;
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
flex-wrap: wrap;
justify-content: center;
padding-top: 20px;
}

.login100-form-btn {
  font-family: 'Poppins', sans-serif;
font-size: 15px;
line-height: 1.5;
color: #fff;

width: 100%;
height: 50px;
border-radius: 10px;

background: #894590;
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
justify-content: center;
align-items: center;


-webkit-transition: all 0.4s;
-o-transition: all 0.4s;
-moz-transition: all 0.4s;
transition: all 0.4s;
}

.login100-form-btn:hover {
background: #6a3caa;
}



/*------------------------------------------------------------------
[ Responsive ]*/



@media (max-width: 992px) {
.wrap-login100 {
  padding: 177px 90px 33px 85px;
}

.login100-pic {
  width: 35%;
}

.login100-form {
  width: 100%;
  position: relative;
}
}

@media (max-width: 768px) {
.wrap-login100 {
  padding: 100px 80px 33px 80px;
}

.login100-pic {
  display: none;
}

.login100-form {
  width: 10%;
}
}

@media (max-width: 576px) {
.wrap-login100 {
  padding: 40px 15px 33px 15px;
}
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
position: relative;
}

.alert-validate::before {
content: attr(data-validate);
position: absolute;
max-width: 70%;
background-color: white;
border: 1px solid #c80000;
border-radius: 13px;
padding: 4px 25px 4px 10px;
top: 50%;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);
right: 8px;
pointer-events: none;

font-family: 'Poppins', sans-serif;
color: #c80000;
font-size: 13px;
line-height: 1.4;
text-align: left;

visibility: hidden;
opacity: 0;

-webkit-transition: opacity 0.4s;
-o-transition: opacity 0.4s;
-moz-transition: opacity 0.4s;
transition: opacity 0.4s;
}

.alert-validate::after {
content: "\f06a";
font-family: FontAwesome;
display: block;
position: absolute;
color: #c80000;
font-size: 15px;
top: 50%;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);
right: 13px;
}

.alert-validate:hover:before {
visibility: visible;
opacity: 1;
}

@media (max-width: 992px) {
.alert-validate::before {
  visibility: visible;
  opacity: 1;
}
}
