<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
    <nb-card-body>
      <nb-stepper orientation="horizontal">
        <nb-step [label]="labelOne">
          <ng-template #labelOne>Seleccione la Sucursal</ng-template>
           <nb-card  class="modal-content">
              <nb-card-header>Seleccione Sucursal</nb-card-header>
              <nb-card-body class="centrar">
                <nb-select  selected="1" hero>
                  <nb-option value="1">Chorrillos</nb-option>
                  <nb-option value="2">San Isidro</nb-option>
                  <nb-option value="2">Miraflores</nb-option>
                  <nb-option value="2">Jockey Plaza</nb-option>
                  <nb-option value="2">San Miguel</nb-option>
                </nb-select>
              </nb-card-body>
            </nb-card>
              <nb-card  class="modal-content">
              <nb-card-header>Seleccione Ubicación</nb-card-header>
              <nb-card-body class="centrar">
                <nb-select  selected="1" hero>
                  <nb-option value="1">Bodega 1</nb-option>
                  <nb-option value="2">Bodega 2</nb-option>
                  <nb-option value="2">Piso Venta</nb-option>
                  <nb-option value="2">Zona de Transito</nb-option>                
                </nb-select>
              </nb-card-body>
           </nb-card>
           <div class="buttons-row centrar">
            <button nbButton  style="background-color:#ff0000;border-color: #ff0000;">
              Eliminar Ubicación
            </button>             
          </div>
        </nb-step>
       
      </nb-stepper>
    </nb-card-body>
  </nb-card>
  