:host ::ng-deep nb-stepper .step-content { 

  button {
    cursor: pointer;
    margin: 0.5rem;  
  }
}

.estilo-step{
  background-color: #894590;
}

nb-card-header{
  background-color: #894590;
  color: white;
  text-align: center;
}

nb-card-body {
  overflow: visible;
  padding-top: 30px;
  background-color: white;
  > * {
    margin-top: 1rem;
  }
}
.button {
  background-color: #894590; 
}
.centrar {
  text-align: center;
}

.full-name-inputs,
.validation-checkboxes {
  display: flex;
  margin: 0 -0.5rem;

  > * {
    margin: 0 0.5rem;
  }
}

.checkbox-radio {
  display: flex;
}

.demo-items {
  flex: 1 0 33%;
}
.centrar {
  justify-content: center;
}

@import '../../../@theme/styles/themes';

@include nb-install-component() {
  .list-card {
    nb-card-header {
      border-bottom: none;
    }

    nb-card-body {
      padding: 0;
    }
  }
}