<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card-body>
    <nb-stepper class="estilo-step" orientation="horizontal">
      <nb-step [label]="labelOne">
        <ng-template #labelOne>Seleccione la Sucursal</ng-template>
         <nb-card  class="modal-content">
            <nb-card-header>Seleccione Sucursal</nb-card-header>
            <nb-card-body class="centrar">
              <nb-select  selected="1" hero>
                <nb-option value="1">Chorrillos</nb-option>
                <nb-option value="2">San Isidro</nb-option>
                <nb-option value="2">Miraflores</nb-option>
                <nb-option value="2">Jockey Plaza</nb-option>
                <nb-option value="2">San Miguel</nb-option>
              </nb-select>
            </nb-card-body>
          </nb-card>
            <nb-card  class="modal-content">
            <nb-card-header>Seleccione Ubicación</nb-card-header>
            <nb-card-body class="centrar">
              <nb-select  selected="1" hero>
                <nb-option value="1">Bodega 1</nb-option>
                <nb-option value="2">Bodega 2</nb-option>
                <nb-option value="2">Piso Venta</nb-option>
                <nb-option value="2">Zona de Transito</nb-option>                
              </nb-select>
            </nb-card-body>
         </nb-card>
         <div class="centrar">
        <button class="button" nbButton disabled nbStepperNext>Anterior</button>
        <button class="button" nbButton nbStepperNext style="background-color:#894590;border-color: #894590;" >Siguiente</button>
      </div>
      </nb-step>
      <nb-step [label]="labelTwo">
        <ng-template #labelTwo>Datos Ubicación</ng-template>
        <h3 class="centrar">Modifique datos de ubicación</h3>         
            <nb-card class="centrar"> 
              <nb-card-header>Datos Ubicación</nb-card-header>
              <nb-card-body>
                <input type="text" nbInput fullWidth placeholder="Codigo de Ubicación">
                <div class="full-name-inputs">
                  <input type="text" nbInput fullWidth placeholder="Nombre de la ubicación">
                  <input type="text" nbInput fullWidth placeholder="descripcion de la ubicación">
                </div>                
                <input type="text" nbInput fullWidth shape="rectangle" placeholder="Piso de la ubicación">
              </nb-card-body>
            </nb-card>
            <div class="centrar">
        <button nbButton nbStepperPrevious style="background-color:#894590;border-color: #894590;">Anterior</button>
        <button nbButton nbStepperNext  style="background-color:#894590;border-color: #894590;">Siguiente</button>
        </div>
      </nb-step>
      <nb-step label="Verificar Datos">
        <h3 class="centrar">Verificacion de Datos</h3>
        <nb-card class="list-card" >
            <nb-card-header>Datos de la Ubicación</nb-card-header>
            <nb-card-body>
              <nb-list>
                <nb-list-item *ngFor="let fruit of fruits" >
                  {{ fruit }} 
                  <div style="padding-top: 5px">
                  <input disabled type="text" nbInput fullWidth placeholder="{{fruit}}">
                </div>
                </nb-list-item>
              </nb-list>
            </nb-card-body>
          </nb-card>
          <div class="buttons-row centrar">
              <button nbButton  style="background-color:#894590;border-color: #894590;">
                Modificar Ubicación
              </button>             
            </div>
      </nb-step>    
    </nb-stepper>
  </nb-card-body>
</nb-card>
